# Dependencies
node_modules/
client/node_modules/
server/node_modules/

# Environment variables
.env
client/.env
server/.env

# Build outputs
client/dist/
client/dist-ssr/

# Uploaded files & logs
server/public/*
!server/public/.gitkeep
*.log
logs/

# IDE / System
.DS_Store
.vscode/
.idea/
